/* ===== General Page Styling ===== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== Search Section ===== */
.search-section {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

#searchInput {
    width: 250px;
    padding: 12px;
    border: 2px solid #555;
    border-radius: 6px;
    font-size: 16px;
}

#searchInput:focus {
    outline: none;
    border-color: #2d7dd2;
    box-shadow: 0 0 4px rgba(45, 125, 210, 0.6);
}

#searchBtn {
    padding: 12px 20px;
    background: #2d7dd2;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#searchBtn:hover {
    background: #ce986c;
}

/* ===== Buttons Section ===== */
.buttons-section {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category-btn {
    padding: 15px 35px;
    background: #fff;
    border: 2px solid #2d7dd2;
    color: #2d7dd2;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.25s;
}

.category-btn:hover {
    background: #2d7dd2;
    color: white;
    transform: scale(1.05);
}

.category-btn:active {
    transform: scale(1);
}


/* ===== font sa logo ===== */

.header {
    margin-top: 25px;
    text-align : center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 3px solid #f8e5a8;
    padding: 5px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(45, 125 , 210 , 0.15);

}

.page-title {
    font-size:32px;
    font-weight: bold;
    color:#f8d195;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0, 1);
    font-family: "Poppins", Arial, sans-serif;

}